select option {
  color: rgb(63, 63, 63);

}

label {
  color: rgb(255, 255, 255);
  font-weight: 600;
  /* background: linear-gradient(
    90deg,
    #4158D0 0%,
    #C850C0 40%,
    #FFCC70 100%
  ); */
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}



#colors {
  /* background-color: rgb(24, 14, 66); */
  background: white;
  color: rgb(63, 63, 63);
}
