.row {
  justify-content: center;
  margin-top: 28px;
}

input,
textarea {
  background: rgba(0,0,0,0.05);
  border: 3px solid;
  /* border-image-source: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
  /* border-image-slice: 1; */
  border: none;
  border-radius: 20px;
  color: black;
  
}

input:focus,
textarea:focus {
  outline-width: 0;
  background: rgba(31,134,252, 0.15);
  transition: ease-in 0.2s;
  color: black;
}

input::placeholder,
textarea::placeholder {
  color: rgb(177, 177, 177);
}

